<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Fund My Recipe!</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD'
      crossorigin='anonymous'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Jost&display=swap'
      rel='stylesheet'
    />
  </head>

  <body>

    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-12'>
          <ul class='nav'>
            <li class='nav-item'>
              <h1>
                {{#if logged_in}}
                  <a href='/profile'>profile</a>
                  |
                  <button class='no-button' id='logout'>logout</button>
                {{else}}
                  <a href='/login'>login</a>
                {{/if}}
              </h1>
            </li>

          </ul>
          <div class='jumbotron text-center'>
            <img
              id="logo"
              class='mr-3 mx-auto'
              src='./images/logo_sample_1.png'
              alt=''
            />
            <h1 class="d-inline mx-auto">pic-nic</h1>
          </div>
          <div class='row'>
            <div class='col-md-6'>
              {{!-- <div class='media'>
                <img
                  class='mr-3'
                  alt='Bootstrap Media Preview'
                  src='https://www.layoutit.com/img/sports-q-c-64-64-8.jpg'
                />
                <div class='media-body'>
                  <h5 class='mt-0'>
                    Nested media heading
                  </h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                  scelerisque ante sollicitudin commodo. Cras purus odio,
                  vestibulum in vulputate at, tempus viverra turpis.
                  <div class='media mt-3'>
                    <a class='pr-3' href='#'><img
                        alt='Bootstrap Media Another Preview'
                        src='https://www.layoutit.com/img/sports-q-c-64-64-2.jpg'
                      /></a>
                    <div class='media-body'>
                      <h5 class='mt-0'>
                        Nested media heading
                      </h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel
                      metus scelerisque ante sollicitudin commodo. Cras purus
                      odio, vestibulum in vulputate at, tempus viverra turpis.
                    </div>
                  </div>
                </div> --}}
                    <img
              id="stock"
              class='mr-3 mt-5 mb-5 ml-5'
              src='./images/pizza_fractalesque1.jpg'
              alt=''
            />
              
            </div>
            <div class='col-md-6'>
              <div class='card'>
                <h5 class='card-header'>
                  Card title
                </h5>
                <div class='card-body'>
                  <p class='card-text'>
                    Card content
                  </p>
                </div>
                <div class='card-footer'>
                  Card footer
                </div>
              </div>
              <div class='card'>
                <h5 class='card-header'>
                  Card title
                </h5>
                <div class='card-body'>
                  <p class='card-text'>
                    Card content
                  </p>
                </div>
                <div class='card-footer'>
                  Card footer
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN'
      crossorigin='anonymous'
    ></script>
  </body>

</html>