<div class='container'>

  <div class='col-md-12 mb-5 text-center'>
    <h2>What Do You Want To Make?</h2>
  </div>

  <div class="row"> 
  <!-- Loop over each object in the recipes array -->
  {{#each recipes as |recipe|}}
 
      <div class='col-sm-12 col-md-6 col-lg-3'>
        <a href='/recipe/{{recipe.id}}'>
        <img src="https://res.cloudinary.com/do7uphpx7/image/upload/v{{ recipe.version }}/{{ recipe.public_id }}.jpg" style="width: 100%; height: 100%;" class="img-thumbnail"></img>
        </a>
      </div>
    
  {{/each}}
  </div>
</div>