<div class="row">
    <div class='col-md-6'>
        <img
          id="stock"
          class='mr-3 mt-5 mb-5 ml-5'
          src='./images/pizza_fractalesque1.jpg'
          alt=''
        />
    </div>

  <div class="col-md-6">
    <h3>SIGN IN</h3>
    <form class="form login-form">
      <div class="form-group">
        <input class="form-control form-control-sm" type="text" id="email-login" placeholder="email" />
      </div>
      <div class="form-group">
        <input class="form-control form-control-sm" type="password" id="password-login" placeholder="password"/>
      </div>
      <div class="form-group text-right">
        <button class="btn btn-primary btn-sm" type="submit">login</button>
      </div>
    </form>
    <br>
    <h3>CREATE AN ACCOUNT</h3>
    <form class="form signup-form">
      <div class="form-group">
        <input class="form-control form-control-sm" type="text" id="name-signup" placeholder="name"/>
      </div>
      <div class="form-group">
        <input class="form-control form-control-sm" type="text" id="email-signup" placeholder="email"/>
      </div>
      <div class="form-group">
        <input class="form-control form-control-sm" type="password" id="password-signup" placeholder="password" />
      </div>
      <div class="form-group text-right">
        <button class="btn btn-primary btn-sm" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
