header, .recipe:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

h1 {
  font-family: 'Jost', sans-serif;  
}

#logo {
  max-width: 100px;
  max-height: 100px;
}

#stock {
  max-width: 300px;
  max-height: 300px;
}

.jumbotron {
  background-color: #e8caa5;
}

.nav-item {
  font-family: 'Jost', sans-serif;
  font-size: 1em;
}

#recipe-name {
  padding-left: 2%;
}

#recipe-desc {
  padding: 3%;
  text-align-last: left;
  overflow: hidden;
}