header, .recipe:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

body {
  background-color: #f5ecc9;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

h1 {
  font-family: 'Jost', sans-serif;  
}

#logo {
  max-width: 100px;
  max-height: 100px;
}

#stock {
  max-width: 300px;
  max-height: 300px;
}

.jumbotron {
  background-color: #e8caa5;
}

.nav-item {
  font-family: 'Jost', sans-serif;
  font-size: 1em;
}

#recipe-name {
  padding-left: 2%;
}

#recipe-desc {
  padding: 3%;
  text-align-last: left;
}

.img-thumbnail {
  max-width: 250px;
  max-height: 250px;
}

@media (max-width: 575.98px) {
  .button-container {
    margin-bottom: 5%;
  }
}

.profile-placeholder {
  width: 350px;
  height: 350px;
}

.comment-owner {
  font-size: 14px
}

.date-subtext {
  font-size: 12px;
}

.card-body {
  border: 1px solid rgb(83, 79, 79);
}

.anti-border {
  border: none;
}

#recipe-desc{
  font-size: 12px;
}

.description-area {
  max-width: 800px; 
  overflow-wrap: break-word; 
  line-height: 2; 
  text-align: justify;
}

.recipe-thumbnails {
  outline: 2px solid rgb(0, 0, 0);
  background-image: url(../images/picnic_carpet_bg_1.png);
  background-size:auto;
  background-position: center;
  max-width: 250px;
  max-height: 250px;
}

.main-header {
    font-family: 'Jost', sans-serif; 
    font-size: 32px;
}

.jost-text {
  font-family: 'Jost', sans-serif; 
}

.essential-buttons {
  background-color: #659DBD;
  color: #f9f2e9;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s;
}

.essential-buttons:hover {
  background-color: #98c1b3;
  color: #333;
}

.card-header-mint {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color:#98c1b3;
  border-bottom: 1px solid rgba(0,0,0,0.125);
}

.card-background-color {
background-color: #f4e1ca;
}

.profile-welcome {
  background-image: url(../images/picnic_carpet_bg_1.png);
  background-size: 100%;
  background-position: top 10px ;
}

.comment-textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #ddd;
  resize: none;
}